<div id="menu" class="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">Meathead Menu</h2>
				<p class="text-center font-light head-padding">Our fresh, never-frozen all beef patties scream and sizzle on the red-hot griddle like a dinner triangle. The weight of the beef, fresh vegetables, crisp buns, and smoky melted cheese can only be felt when you cradle these jewels in your hands. Then you sink your K9s into our gourmet, stacked, burgers, you realize we have taken everything into consideration.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4 class="uppercase">Burgers</h4>
				<dd>
					<dt>$10 The Meathead burger</dt>
					<dl>5oz grain fed beef, garlic bread, cheddar, fried egg, peppered bacon, tomato, cucumber, onion, smashed avocado.</dl>
				</dd>
				<dd>
					<dt>$9 Brooklyn Burger</dt>
					<dl>5oz grain fed beef, garlic bread, American cheese, grilled onions, sauerkraut, pickles, stone mustard.</dl>
				</dd>
				<dd>
					<dt>$9 Herbivore Burger</dt>
					<dl>Portobello patty, garlic bread, tomato, avocado, herb yogurt sauce, greens and thangs.</dl>
				</dd>
			</div>
			<div class="col-md-6">
				<h4 class="uppercase">Sides</h4>
				<dd>
					<dt>$6 No Mess chicken "Drum" Wings</dt>
					<dl>Rich butter wing sauce on top of greens and thangs dolloped with herb yogurt sauce.</dl>
				</dd>
				<dd>
					<dt>$6 Fresh Potato Chips</dt>
					<dl>Braised Brisket Gravy & Cheese Curd, Herb & Pecorino, Naked.</dl>
				</dd>
				<dd>
					<dt>$6 Greens &amp; Thangs</dt>
					<dl>Kale, spinach, almonds, onion, carrot, strawberry vinaigrette.</dl>
				</dd>
				<h4 class="section-padding uppercase">Wet Your Whistle</h4>
				<dd>
					<dt>$3 Coconut Water, $2 Soda, $2 Water</dt>
					<dl>Coca Cola, Pepsi, Mountain Dew, Sprite.</dl>
				</dd>
			</div>
		</div>
	</div>
</div>
<div id="schedule" class="schedule">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">Schedule</h2>
				<table class="table table-bordered">
					<thead>
						<th></th>
						<th>Tuesday - 7/22</th>
						<th>Wednesday - 7/23</th>
						<th>Thursday - 7/24</th>
						<th>Friday - 7/25</th>
						<th>Saturday - 7/26</th>
						<th>Sunday - 7/27</th>
					</thead>
					<tbody>
						<tr>
							<td>Lunch</td>
							<td>TBD</td>
							<td>TBD</td>
							<td>TBD</td>
							<td>Kaiser</td>
							<td>TBD</td>
							<td>TBD</td>
						</tr>
						<tr>
							<td>Dinner</td>
							<td>TBD</td>
							<td>TBD</td>
							<td>TBD</td>
							<td>Leo's Music Club</td>
							<td>TBD</td>
							<td>TBD</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<h4 class="uppercase">Upcoming Events</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h5>July</h5>
				<ul>
					<li><strong>7/25 Kaiser Permanente East Bay: </strong><br /><span class="small">Join us from 11am - 2:30pm at 280 W MacArthur Blvd, Oakland, CA 94611.</span></li>
					<li><strong>7/25 Leo's Music Club: </strong><br /><span class="small">Join us from 7pm - 12am at 5447 Telegraph, Oakland, CA 94608. <%= link_to "Learn More", 'https://www.facebook.com/events/251311238325901/?ref=22' %>.</span></li>
					<li><strong>7/27 Private Catering for Meteor Development Group. </strong><br /></li>
				</ul>
			</div>
			<div class="col-md-6">
				<h5>August</h5>
				<ul>
					<li><strong>8/1 - TBD:</strong>TBD</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h4 class="uppercase">Catering</h4>
				<p>If you can dream it, we can do it. Chef Daniel and his team are known for making the impossible possible. You can mix and match our menu however you wish or we can do a totally custom menu for your event. Remember, we prefer a challenge, but simpler events are welcome.</p>
				<p>Call Devin at 510.593.6805 or shoot us a message.</p>
			</div>
			<div class="col-md-6">
				<h4 class="uppercase">Tell Us About Your Event</h4>
				<%= form_tag('/home', method: "post") do %>
					<div class="form-group">
						<%= text_field_tag 'name', '', class: "form-control", placeholder: "Name" %>
			  		</div>
			  		<div class="form-group">
						<%= email_field_tag 'email', '', class: "form-control", placeholder: "Email" %>
			  		</div>
			  		<div class="form-group">
						<%= text_field_tag 'phone', '', class: "form-control", placeholder: "Phone" %>
			  		</div>
			  		<div class="form-group">
						<%= text_area_tag 'message', '', class: "form-control", placeholder: "Message", size: "0x3" %>
			  		</div>
			  		<%= submit_tag 'Send Message', class: "btn btn-success btn-message" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="masthead-wrapper">
	<div class="prlx-2"></div>
	<div id="about" class="container about">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">About Meathead</h2>
				<p>MEATHEAD GSB is the brainchild of Chef Daniel Norton. After graduating from Le Cordon Blue…blah blah blah. Look, it's time for me to enjoy the sun! I love food and the vibe it creates in our homes, backyards, blocks, and city streets. After 10 years cooking in restaurants, I left to be a corporate chef at a hot database start-up in San Francisco. It was there where my fellow employees fueled this dream through their love for burgers, food-trucks, and me.  I am extremely proud to say that MEATHEAD is fully operational because of the support of those I’ve personally fed.</p>
				<p>I bring to you MEATHEAD. Gourmet, Stacked, Burgers.  Each burger is designed with your five senses in mind. Our stacked layers will give your eyes more than they can handle. The toasty garlic bun will tickle your nose from blocks away and make your stomach beg for its richness. Our fresh-never-frozen beef patties scream and sizzle on the red-hot griddle like a dinner triangle. The weight of the beef, fresh vegetables, crisp buns, and smoky melted cheese can only be felt when you cradle these jewels in your hands. Then you sink your K9s into our Gourmet. Stacked. Burgers. then you realize we have taken everything into consideration.</p>
				<p>You want sides with that? How about some slow roasted bone marrow gravy and fresh salty cheese curds atop a tower of perfectly crisp potatoes. We specialize in not only Gourmet. Stacked. Burgers. But in all side dishes that compliment our burgers. Garden picked greens and no mess chicken "drum" wings …these are always on our menu.</p>
				<p>Folks. When you apply a classically trained approach to the American classic, what you end up with is MEATHEAD.</p>
			</div>
		</div>
	</div>
</div>
<div id="contact" class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase">Contact Us</h2>
				<p class="text-center">Please direct all questions regarding scheduling, reservations, sales, or catering to <a href="mailto:devin@meatheadtruck.com">devin@meatheadtruck.com</a>. For all other inquiries contact <a href="mailto:daniel@meatheadtruck.com">daniel@meatheadtruck.com</a>.</p>
			</div>
		</div>
	</div>
</div>