<div id="menu" class="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">Meathead Menu</h2>
				<p class="text-center font-light head-padding">Our fresh, never-frozen all beef patties scream and sizzle on the red-hot griddle like a dinner triangle. The weight of the beef, fresh vegetables, crisp buns, and smoky melted cheese can only be felt when you cradle these jewels in your hands. Then you sink your K9s into our gourmet, stacked, burgers, you realize we have taken everything into consideration.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4 class="uppercase">Burgers</h4>
				<dd>
					<dt>$10 The Meathead Burger</dt>
					<dl>5oz grain fed beef, garlic bread, cheddar, fried egg, peppered bacon, tomato, cucumber, onion, smashed avocado.</dl>
				</dd>
				<dd>
					<dt>$9 Brooklyn Burger</dt>
					<dl>5oz grain fed beef, garlic bread, American cheese, grilled onions, sauerkraut, pickles, stone mustard.</dl>
				</dd>
				<dd>
					<dt>$9 Herbivore Burger</dt>
					<dl>Portobello, garlic bread, tomato, avocado, chopped kale, creamy ranch.</dl>
				</dd>
				<dd>
					<dt>$7 Cheeseburger</dt>
					<dl>5oz grain fed beef, garlic bread, cheddar or American cheese, pickles, onion, ketchup, mustard.</dl>
				</dd>
			
			
			</div>
			<div class="col-md-6">
				<h4 class="uppercase">Sides</h4>
				<dd>
					<dt>$6 Chicken Wings</dt>
					<dl>Meatheads Buffalo Sauce or Pecorino Herb & Garlic.</dl>
				</dd>
				<dd>
					<dt>$6 Fresh French Fries</dt>
					<dl>Pulled Pork Gravy & Cheese Curd.</dl>
				</dd>
				<dd>
					<dt>$6 Fresh French Fries</dt>
					<dl>Herb & Pecorino, Naked.</dl>
				</dd>
				<h4 class="section-padding uppercase">Wet Your Whistle</h4>
				<dd>
					<dt>$3 Coconut Water, $2 Soda, $2 Water</dt>
					<dl>Coca Cola, Diet Coke, Sprite, Pelligrino (Pomegranate, Lemon, or Orange).</dl>
				</dd>
			</div>
		</div>
	</div>
</div>
<div id="schedule" class="schedule">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">Schedule</h2>
				<table class="table table-bordered">
					<thead>
						<th>Monday - 11/10</th>
						<th>Tuesday - 11/11</th>
						<th>Wednesday - 11/12</th>
						<th>Thursday - 11/13</th>
						<th>Friday - 11/14</th>
						<th>Saturday - 11/15</th>
					</thead>
					<tbody>
						<tr>
							<td>Off The Grid Hayward:<br />Join us from 5:00pm - 8:00pm at 777 B St, Hayward</td>
							<td>Off The Grid San Anselmo:<br />Join us from 5:00pm - 8:00pm at 800 Sir Francis Drake Blvd, San Anselmo</td>
							<td>Harvest Property Emeryville:<br />Join us from 11:00am - 2:00pm 6475 Christie Ave, Emeryville<br /><br />FTM San Lorenzo Street Eats:<br />Join us from 5:00pm - 8:00pm at 16039 Hesperian Blvd</td>
							<td>-</td>
							<td>Hines Company:<br />Join us from 11:00am - 2:00pm at 2100 Powell St</td>
							<td>Off The Grid Emeryville:<br />Join us from 11:00am - 3:00pm at The Public Market 5959 Shellmound St</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
<!-- 		<div class="row">
			<div class="col-md-6">
				<h5>October</h5>
				<ul>
				
                
                
					<li><strong>10/9 Larkspur Lunch: </strong><br /><span class="small">Join us from 11:30am - 2:00pm at 500 Larkspur Landing Cir, Larkspur, CA 94939.</span></li>
					<li><strong>10/9 OTG Novato at Vintage Oaks: </strong><br /><span class="small">Join us from 5:00pm - 9:00pm at 201 Vintage Way, Novato, CA 94945.</span></li>

					<li><strong>10/10 Lakeside Village Lunch: </strong><br /><span class="small">Join us from 12:00pm - 2:00pm at 4170 Springlake Dr, San Leandro, CA 94578.</span></li>
					<li><strong>10/10 Hearst Elementary Fall Festival: </strong><br /><span class="small">Join us from 4:30pm - 8:30pm at 5301 Case Ave, Pleasanton, CA 94566.</span></li>
					
					
					<li><strong>10/11 Parkmont Elementary Fall Festival: </strong><br /><span class="small">Join us from 3:00pm - 6:00pm at 2601 Parkside Dr, Fremont, CA 94536.</span></li>


					<li><strong>10/12 Raiders' Game: </strong><br /><span class="small">Join us from 9:30am - 12:00pm at 7127 San Leandro St, Oakland, CA 94621.</span></li>
					<li><strong>10/12 Family Hoe Down: </strong><br /><span class="small">Join us from 4:00pm - 7:00pm at 114 King St, Larkspur, CA 94939.</span></li>

					<li><strong>10/14 OTG San Anselmo: </strong><br /><span class="small">Join us from 5:00pm - 9:00pm at 800-900 Block of Sir Francis Drake Blvd,  San Anselmo, CA 94960.</span></li>

					<li><strong>10/15 Marina Village: </strong><br /><span class="small">Join us from 11:30am - 1:30pm at 1150 Marina Village Pkwy, Alameda, CA 94501.</span></li>

					<li><strong>10/16 Emeryville Lunch: </strong><br /><span class="small">Join us from 11:30am - 2:00pm at 6450 Christie Ave, Emeryville, CA 94608.</span></li>
					<li><strong>10/16 OTG Novato at Vintage Oaks: </strong><br /><span class="small">Join us from 5:00pm - 9:00pm at 201 Vintage Way, Novato, CA 94945.</span></li>

					<li><strong>10/17 Emerytech: </strong><br /><span class="small">Join us from 11:30am - 2:00pm at 65th and Hollis, Emeryville, CA 94608.</span></li>
                	<li><strong>10/17 Fremont Street Eats: </strong><br /><span class="small">Join us from 4:30pm - 9:00pm on Capitol Ave in between Liberty St and State St, Fremont, CA 94536.</span></li>

					


					
				</ul>
			</div>
			<div class="col-md-6">
				<h5>October cont'd</h5>
				<ul>
				
					<li><strong>10/18 NASA Open House: </strong><br /><span class="small">Join us from 9:00am - 5:00pm at Moffett Field.</span></li>

					<li><strong>10/23 Larkspur Lunch: </strong><br /><span class="small">Join us from 11:30am - 2:00pm at 500 Larkspur Landing Cir, Larkspur, CA 94939.</span></li>
					<li><strong>10/23 OTG Novato at Vintage Oaks: </strong><br /><span class="small">Join us from 5:00pm - 9:00pm at 201 Vintage Way, Novato, CA 94945.</span></li>

                	<li><strong>10/24 Fremont Street Eats: </strong><br /><span class="small">Join us from 4:30pm - 9:00pm on Capitol Ave in between Liberty St and State St, Fremont, CA 94536.</span></li>

					<li><strong>10/27 Private Catering: </strong><br /><span class="small">4:30pm - 6:30pm.</span></li>

					<li><strong>10/28 OTG San Anselmo: </strong><br /><span class="small">Join us from 5:00pm - 9:00pm at 800-900 Block of Sir Francis Drake Blvd,  San Anselmo, CA 94960.</span></li>

					<li><strong>10/29 Cordis Lunch: </strong><br /><span class="small">Join us from 11:00am - 1:30pm at 6422 Commerce Dr, Fremont, CA 94536.</span></li>

					<li><strong>10/30 San Lorenzo Street Eats: </strong><br /><span class="small">Join us from 5:00pm - 9:00pm on Hesperian Blvd and Paseo Grande, San Lorenzo, CA 94580.</span></li>

               	    <li><strong>10/31 Stoneridge Street Eats: </strong><br /><span class="small">Join us from 11:00am - 2:00pm on the corner of Stoneridge Mall Rd and Workday Way, Pleasanton, CA 94588.</span></li>
             	    <li><strong>10/31 Halloween Event: </strong><br /><span class="small">Join us from 6:00pm - 8:00pm at Prince of Peace, 38451 Fremont Blvd, Fremont, CA 94536.</span></li>

				
					
					


				</ul>
			</div>
		</div> -->
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h4 class="uppercase">Catering</h4>
				<p>If you can dream it, we can do it. Chef Daniel and his team are known for making the impossible possible. You can mix and match our menu however you wish or we can do a totally custom menu for your event. Remember, we prefer a challenge, but simpler events are welcome.</p>
				<p>Call Daniel at 510.754.0694 or shoot us a message. </p>
			</div>
			<div class="col-md-6">
				<h4 class="uppercase">Tell Us About Your Event</h4>
				<%= form_tag('/home', method: "post") do %>
					<div class="form-group">
						<%= text_field_tag 'name', '', class: "form-control", placeholder: "Name" %>
			  		</div>
			  		<div class="form-group">
						<%= email_field_tag 'email', '', class: "form-control", placeholder: "Email" %>
			  		</div>
			  		<div class="form-group">
						<%= text_field_tag 'phone', '', class: "form-control", placeholder: "Phone" %>
			  		</div>
			  		<div class="form-group">
						<%= text_area_tag 'message', '', class: "form-control", placeholder: "Message", size: "0x3" %>
			  		</div>
			  		<%= submit_tag 'Send Message', class: "btn btn-success btn-message" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="masthead-wrapper">
	<div class="prlx-2"></div>
	<div id="about" class="container about">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">About Meathead</h2>
				<p>MEATHEAD GSB is the brainchild of Chef Daniel Norton. After graduating from Le Cordon Blue…blah blah blah. Look, it's time for me to enjoy the sun! I love food and the vibe it creates in our homes, backyards, blocks, and city streets. After 10 years cooking in restaurants, I left to be a corporate chef at a hot database start-up in San Francisco. It was there where my fellow employees fueled this dream through their love for burgers, food-trucks, and me.  I am extremely proud to say that MEATHEAD is fully operational because of the support of those I’ve personally fed.</p>
				<p>I bring to you MEATHEAD. Gourmet. Stacked. Burgers.  Each burger is designed with your five senses in mind. Our stacked layers will give your eyes more than they can handle. The toasty garlic bun will tickle your nose from blocks away and make your stomach beg for its richness. Our fresh-never-frozen beef patties scream and sizzle on the red-hot griddle like a dinner triangle. The weight of the beef, fresh vegetables, crisp buns, and smoky melted cheese can only be felt when you cradle these jewels in your hands. Then you sink your K9s into our Gourmet. Stacked. Burgers. then you realize we have taken everything into consideration.</p>
				<p>You want sides with that? How about some slow braised brisket gravy and fresh salty cheese curds atop a tower of perfectly crisp potatoes? We specialize in not only Gourmet. Stacked. Burgers. But in all side dishes that compliment our burgers. Garden picked greens and rich sauced chicken wings …these are always on our menu.</p>
				<p>Folks. When you apply a classically trained approach to the American classic, what you end up with is MEATHEAD.</p>
			</div>
		</div>
	</div>
</div>
<div id="contact" class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase">Contact Us</h2>
				<p class="text-center">Please direct all questions regarding scheduling, reservations, sales, or catering to <a href="mailto:daniel@meatheadtruck.com">daniel@meatheadtruck.com</a>.</p>
		
		
		
			</div>
			<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53521518-1', 'auto');
  ga('send', 'pageview');

</script>
		</div>
	</div>
</div>