<div id="menu" class="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">Meathead Menu</h2>
				<p class="text-center font-light head-padding">Our fresh, never-frozen all beef patties scream and sizzle on the red-hot griddle like a dinner triangle. The weight of the beef, fresh vegetables, crisp buns, and smoky melted cheese can only be felt when you cradle these jewels in your hands. Then you sink your K9’S into our gourmet, stacked, burgers, you realize we have taken everything into consideration.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4 class="uppercase">Burgers - $9</h4>
				<dd>
					<dt>California Burger</dt>
					<dl>8oz grass fed beef, garlic bread, cheddar, fried egg, peppered bacon, red leaf, tomato, cucumber, onion, smashed avocado.</dl>
				</dd>
				<dd>
					<dt>Chicago Burger</dt>
					<dl>8oz grass fed beef, garlic bread, cheddar, fried egg, peppered bacon, red leaf, tomato, cucumber, onion, smashed avocado.</dl>
				</dd>
				<dd>
					<dt>New York Burger</dt>
					<dl>8oz grass fed beef &amp; pork, steamed bun, American cheese, grilled onions, sauerkraut, pickles, stone mustard.</dl>
				</dd>
				<dd>
					<dt>Herbivore Burger</dt>
					<dl>8oz nut &amp; quinoa patty, chewy ciabatta, roasted tomato, avocado, herb yogurt sauce, greens and thangs lettuce.</dl>
				</dd>
			</div>
			<div class="col-md-6">
				<h4 class="uppercase">Sides - $4</h4>
				<dd>
					<dt>No Mess chicken Wings </dt>
					<dl>Hot or mild.</dl>
				</dd>
				<dd>
					<dt>French Fries</dt>
					<dl>Poutine style or naked.</dl>
				</dd>
				<dd>
					<dt>Greens &amp; Thangs</dt>
					<dl>Kale, red leaf, spinach, almonds, red onion, carrot, cherry vinaigrette</dl>
				</dd>
				<dd>
					<dt>Berry Bowl</dt>
					<dl>Melon, berries, honey mint reduction.</dl>
				</dd>
				<h4 class="section-padding uppercase">Wet Your Whistle - $2</h4>
				<dd>
					<dt>Coconut Water, Soda</dt>
					<dl>Coca Cola, Pepsi, Mountain Dew, Root Beer, Sprite</dl>
				</dd>
			</div>
		</div>
	</div>
</div>
<div id="schedule" class="schedule">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">Schedule</h2>
				<table class="table table-bordered">
					<thead>
						<th></th>
						<th>Tuesday - 7/1</th>
						<th>Wednesday - 7/2</th>
						<th>Thursday - 7/3</th>
						<th>Friday - 7/4</th>
						<th>Saturday - 7/5</th>
						<th>Sunday - 7/6</th>
					</thead>
					<tbody>
						<tr>
							<td>Lunch</td>
							<td>SOMA StrEat Food Park</td>
							<td>SOMA StrEat Food Park</td>
							<td>SOMA StrEat Food Park</td>
							<td>SOMA StrEat Food Park</td>
							<td>SOMA StrEat Food Park</td>
							<td>SOMA StrEat Food Park</td>
						</tr>
						<tr>
							<td>Dinner</td>
							<td>G Food Truck Lounge</td>
							<td>G Food Truck Lounge</td>
							<td>G Food Truck Lounge</td>
							<td>G Food Truck Lounge</td>
							<td>G Food Truck Lounge</td>
							<td>G Food Truck Lounge</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<h4 class="uppercase">Upcoming Events</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h5>July</h5>
				<ul>
					<li><strong>7/6 - Palo Alto:</strong>Event 1 is awesome.</li>
					<li><strong>7/15 - Palo Alto:</strong>Event 2 is even better.</li>
					<li><strong>7/28 - Palo Alto:</strong>This event is just getting crazy.</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h5>August</h5>
				<ul>
					<li><strong>8/6 - Palo Alto:</strong> These guys are getting crazy.</li>
					<li><strong>8/12 - Palo Alto:</strong> If I eat another delicious burger, I will be in heaven.</li>
					<li><strong>8/24 - Palo Alto:</strong> Burgers are better than anything else event.</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h4 class="uppercase">Catering</h4>
				<p>If you can dream it, we can do it. Chef Daniel and his team are known for making the impossible possible. You can mix and match our menu however you wish or we can do a totally custom menu for your event. Remember, we prefer a challenge, but simpler events are welcome.</p>
				<p>Call Devin at (510) 754-0694 or shoot us a message.</p>
			</div>
			<div class="col-md-6">
				<h4 class="uppercase">Tell Us About Your Event.</h4>
				<%= form_tag('/home', method: "post") do %>
					<div class="form-group">
						<%= text_field_tag 'name', '', class: "form-control", placeholder: "Name" %>
			  		</div>
			  		<div class="form-group">
						<%= text_field_tag 'email', '', class: "form-control", placeholder: "Email" %>
			  		</div>
			  		<div class="form-group">
						<%= text_field_tag 'phone', '', class: "form-control", placeholder: "Phone" %>
			  		</div>
			  		<div class="form-group">
						<%= text_area_tag 'message', '', class: "form-control", placeholder: "Message", size: "0x3" %>
			  		</div>
			  		<%= submit_tag 'Send Message', class: "btn btn-success btn-message" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="masthead-wrapper">
	<div class="prlx-2"></div>
	<div id="about" class="container about">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase head-padding">About Meathead</h2>
				<p>Meat Head GSB is the brainchild of Chef Daniel Norton. After graduating from Le Cordon Blue…blah blah blah. Look, its time for me to enjoy the sun! I love food and the vibe it creates in our homes, backyards, blocks, and city streets. After 10 years cooking in restaurants, I left to be a corporate chef at a hot database start-up in San Francisco. It was there where my fellow employees fueled this dream through their love for burgers, food-trucks, and me.  I am extremely proud to say that Meat Head is fully operational because of the support of those I’ve personally fed.</p>
				<p>I bring to you Meathead. Gourmet, Stacked, Burgers.  Each burger is designed with your five senses in mind. Our stacked layers will give your eyes more than they can handle. The toasty garlic bun will tickle your nose from blocks away and make your stomach beg for its richness. Our fresh-never-frozen beef patties scream and sizzle on the red-hot griddle like a dinner triangle. The weight of the beef, fresh vegetables, crisp buns, and smoky melted cheese can only be felt when you cradle these jewels in your hands. Then you sink your K9’S into our Gourmet. Stacked. Burgers. then you realize we have taken everything into consideration.</p>
				<p>You want sides with that? How about some slow roasted bone marrow gravy and fresh salty cheese curds atop a tower of perfectly crisp potatoes. We specialize in not only Gourmet. Stacked. Burgers. But in all side dishes that compliment our burgers. Garden picked greens, no mess chicken wings, fresh fruit…these are always on our menu.</p>
				<p>Folks. When you apply a classically trained approach to the American classic, what you end up with is Meathead.</p>
			</div>
		</div>
	</div>
</div>
<div id="contact" class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center uppercase">Contact Us</h2>
			</div>
		</div>
	</div>
</div>